Repository merely-useful/py-rse, pull requests merged in 2020-07, with the labels that each got.

#407 Revisions to style chapter
  py-rse/errors.Rmd
  py-rse/teams.Rmd
Labels: RSE Python

#423 Re arranging content
  _py-rse.yml
  py-rse/automate.Rmd
  py-rse/bash-advanced.Rmd
  py-rse/bash-basics.Rmd
  py-rse/config.Rmd
  py-rse/errors.Rmd
  py-rse/finale.Rmd
  py-rse/git-advanced.Rmd
  py-rse/git-cmdline.Rmd
  py-rse/keypoints.Rmd
  py-rse/objectives.Rmd
  py-rse/packaging.Rmd
  py-rse/project.Rmd
  py-rse/solutions.Rmd
  py-rse/ssh.Rmd
  py-rse/style.Rmd
  py-rse/teams.Rmd
  py-rse/testing.Rmd
Labels: RSE Python

#425 Review of reordering
  py-rse-index.Rmd
  py-rse/bash-advanced.Rmd
  py-rse/style.Rmd
Labels: RSE Python

#422 The new provenance chapter
  Makefile
  _py-rse.yml
  book.bib
  figures/py-rse/provenance/release.png
  keypoints/shared-rse/provenance.md
  objectives/shared-rse/provenance.md
  objectives/shared-rse/publish.md
  py-rse/config.Rmd
  py-rse/keypoints.Rmd
  py-rse/objectives.Rmd
  py-rse/packaging.Rmd
  py-rse/provenance.Rmd
  py-rse/publish.Rmd
  zipf/Makefile
  zipf/bin/plotparams.yml
Labels: RSE Python

#198 Draft python join material
  py-join.Rmd
Labels: Novice Python, work in progress

#127 Add missing values materials, first
  novice-goals.Rmd
Labels: Novice Python, work in progress

#431 Reorganization of Project Structure
  Makefile
  _py-rse.yml
  py-rse-index.Rmd
  py-rse/git-cmdline.Rmd
  py-rse/packaging.Rmd
  py-rse/project.Rmd
  py-rse/provenance.Rmd
  py-rse/scripting.Rmd
  py-rse/solutions.Rmd
  py-rse/style.Rmd
  py-rse/teams.Rmd
Labels: RSE Python, work in progress

#433 Working the old project content into provenance chapter
  py-rse-index.Rmd
  py-rse/packaging.Rmd
  py-rse/provenance.Rmd
Labels: RSE Python
