Repository merely-useful/py-rse, pull requests merged in 2020-04, with the labels that each got.

#348 Zipf's updates to publishing chapter
  links.md
  py-rse/publish.Rmd
Labels: Intermediate

#334 Zipf's Law updates to configuration chapter
  figures/py-rse-configuration/jane_eyre_big_labels.png
  figures/py-rse-configuration/jane_eyre_default.png
  py-rse/configuration.Rmd
  zipfs-law/bin/plotcounts_config.py
  zipfs-law/bin/rcparams.yml
Labels: Intermediate

#329 CI narrative revisions
  keypoints/rse-ci.md
  links.md
  objectives/rse-ci.md
  py-rse/ci.Rmd
Labels: Intermediate

#341 Package section zipf updates
  py-rse/package-py.Rmd
  py-rse/py-scripting.Rmd
  py/development.Rmd
Labels: Intermediate

#350 Getting a clean build:
  .gitignore
  Makefile
  _output.yml
  _py-rse.yml
  preamble.tex
  py-rse-index.Rmd
  py-rse/bash-basics.Rmd
  py-rse/ci.Rmd
  py-rse/configuration.Rmd
  py-rse/correct.Rmd
  py-rse/errors.Rmd
  py-rse/install.Rmd
  py-rse/project.Rmd
  py-rse/style.Rmd
  py-rse/teams.Rmd
Labels: RSE Python, infrastructure

#351 Revisions to Python RSE style chapter.
  book.bib
  code-review/stop-words.py
  figures/py-rse-style/code-review-completed-comment.png
  figures/py-rse-style/code-review-file-view.png
  figures/py-rse-style/code-review-start-comment.png
  figures/py-rse-style/code-review-writing-comment.png
  gloss.md
  py-rse/py-scripting.Rmd
  py-rse/style.Rmd
Labels: RSE Python

#343 Error handling after Zipfs law changes
  py-rse/errors.Rmd
Labels: RSE Python

#354 Package zipf updates
  links.md
  py-rse/package-py.Rmd
  py-rse/py-scripting.Rmd
  py/development.Rmd
Labels: RSE Python

#357 Adding exercises to error-handling chapter
  figures/py-rse-errors/exceptions.drawio
  figures/py-rse-errors/exceptions.pdf
  figures/py-rse-errors/exceptions.png
  figures/py-rse-errors/exceptions.svg
  py-rse/errors.Rmd
Labels: RSE Python

#362 Quick fixes to p-rse/bash-basics.Rmd
  py-rse/bash-basics.Rmd
Labels: RSE Python

#349 Updating advanced git chapter with Zipf's content
  book.bib
  figures/rse-git-advanced/dracula_fit.png
  py-rse-index.Rmd
  py-rse/git-advanced.Rmd
  py-rse/package-py.Rmd
Labels: RSE Python

#370 Novice R: Data manipulation cleanup
  _r.yml
  figures/r-data-manipulation/ifelse.jpg
  links.md
  r/data-manipulation.Rmd
Labels: Novice R
