Repository merely-useful/py-rse, pull requests merged in 2020-06, with the labels that each got.

#390 Catering for people new to git
  figures/py-rse-git-cmdline/git-remote.png
  figures/py-rse-git-cmdline/phd-comics.gif
  figures/py-rse-git-cmdline/staging-area.svg
  py-rse/git-cmdline.Rmd
Labels: RSE Python

#391 fix errors after changes from editing
  r-rse/ci.Rmd
Labels: bug

#399 Adding Tierny reference
  book.bib
Labels: work in progress

#402 Updating advanced docs content in packaging chapter
  figures/py-rse/packaging/landing_page.png
  figures/py-rse/packaging/module_countwords.png
  figures/py-rse/packaging/module_index.png
  figures/py-rse/packaging/testpypi.png
  py-rse/git-advanced.Rmd
  py-rse/packaging.Rmd
Labels: RSE Python
